<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Results</title>
	<link rel="stylesheet" href="/static/style/semantic.min.css">
    <link rel="stylesheet" href="/static/style/icon.min.css">
    <script src="/static/script/jquery.min.js"></script>
    <script src="/static/script/semantic.min.js"></script>
</head>

<body>

    <div class="ui menu">
        <div class="ui item huge header">
            <p>Welcome to DEGs platform</p>
        </div>
        <div class="right menu">

        </div>
    </div>

    <div class="ui left pointing green label">{{feedback}}</div>

	<a href="/download">
		<button class="btn bg-danger">点击下载结果</button>
	</a>

    <img src="/static/images/box1.png">
    <img src="/static/images/box2.png">
    <img src="/static/images/scatter1.png">
    <img src="/static/images/scatter2.png">
    <img src="/static/images/line1.png">
    <img src="/static/images/line2.png">
    <img src="/static/images/heat1.png">
    <img src="/static/images/heat2.png">

</body>
</html>